footer.footer--principal
	.logo.logo--footer: img(src="../images/logo--footer.svg" alt="logo")
	nav.nav--footer: ul
		li: a(href="#") Playstation
		li: a(href="#") Xbox
		li: a(href="#") Nintendo
		li: a(href="#") PC
		li: a(href="#") Mobile
	.nav--social: ul
		li Siguenos
		li: a(href="#" aria-label="instagram"): i.fab.fa-instagram
		li: a(href="#" aria-label="pinterest"): i.fab.fa-pinterest
		li: a(href="#" aria-label="twitter"): i.fab.fa-twitter
		li: a(href="#" aria-label="facebook"): i.fab.fa-facebook-f